In [1]:
import numpy as np
import pandas as pd

In [2]:
# 데이터 불러오기
df = pd.read_excel('공개데이터_18.xlsx')

In [3]:
lunfee = ['regname']
for i in range(1,6):
    lunfee.append(f'lunfee_{i}')
print(lunfee)

['regname', 'lunfee_1', 'lunfee_2', 'lunfee_3', 'lunfee_4', 'lunfee_5']

In [4]:
lunfee_df = df[lunfee]

In [5]:
local_lunfee = lunfee_df.groupby('regname').sum(0)

In [29]:
local_lunfee.columns = ['교육청지원금액','자치단체지원금액','학교자체지원금액','보호자지원금액','기타지원금액']

local_lunfee

          교육청지원금액  자치단체지원금액  학교자체지원금액  보호자지원금액  기타지원금액
regname
강원        5719787   2263555      3818   228977    5051
경기       36313597  14857802    548520  2141807  217901
경남       14411385   2697200    143485    64321   37702
경북        8965061   2362845     10622  2417785  120463
광주        5151362   2403791    155040   304387  156925
대구        8050506    353682         0  1959051  349149
대전        3558506   2682802         0   395171       0
부산       11391174   1041761      4846  1023852   36704
서울       23339659  12056192    314195   653235   86533
울산        5020510    290669         0   258549  199656
인천        8788943   3993752         0    76576       0
전남        6857822   3584729      5996   468730  327694
전북        5730470   1957072      2077   158214  335161
제주        3202836   1262494         0        0       0
충남        9279279   5149172         0   213465  674826
충북        6486713   2514914     37728   851814   46822

In [30]:
print(local_lunfee.mean())
 
print(local_lunfee.var())
 
print(local_lunfee.std())

교육청지원금액     1.014173e+07
자치단체지원금액    3.717027e+06
학교자체지원금액    7.664544e+04
보호자지원금액     7.009959e+05
기타지원금액      1.621617e+05
dtype: float64
교육청지원금액     7.286989e+13
자치단체지원금액    1.629071e+13
학교자체지원금액    2.345601e+10
보호자지원금액     6.185035e+11
기타지원금액      3.434822e+10
dtype: float64
교육청지원금액     8.536386e+06
자치단체지원금액    4.036175e+06
학교자체지원금액    1.531536e+05
보호자지원금액     7.864499e+05
기타지원금액      1.853327e+05
dtype: float64

In [33]:
local_lunfee.describe()

            교육청지원금액      자치단체지원금액       학교자체지원금액       보호자지원금액        기타지원금액
count  1.600000e+01  1.600000e+01      16.000000  1.600000e+01      16.00000
mean   1.014173e+07  3.717027e+06   76645.437500  7.009959e+05  162161.68750
std    8.536386e+06  4.036175e+06  153153.565955  7.864499e+05  185332.73729
min    3.202836e+06  2.906690e+05       0.000000  0.000000e+00       0.00000
25%    5.577681e+06  1.783428e+06       0.000000  1.996522e+05   28790.75000
50%    7.454164e+06  2.459352e+06    4332.000000  3.497790e+05  103498.00000
75%    9.807253e+06  3.686985e+06   64167.250000  8.948235e+05  245349.25000
max    3.631360e+07  1.485780e+07  548520.000000  2.417785e+06  674826.00000