In [14]:
import numpy as np
import pandas as pd

In [15]:
myfile = pd.read_excel('공개데이터_18.xlsx')

In [16]:
seoul = myfile[myfile['regname'] == '서울']

In [17]:
# 각 학교의 학년 여학생 남학생 변수 리스트
# 각 학생 수의 추이가 어떻게 변해가는지?
colnames = []
for i in range(1,7):
    colnames.append(f'numcls_m{i}')
    colnames.append(f'numcls_f{i}')

In [16]:
num_total_students = seoul[colnames].sum(1)

In [17]:
num_total_students.var()

98486.40199637022

In [18]:
num_total_students.mean()

658.1896551724138

In [17]:
# 서울 전체 학생 수
len(seoul)

58

In [29]:
# 각 학교의 학년 여학생 남학생 변수 리스트
lst = []
for i in range(1,7):
    lst.append(f'numcls_m{i}')
    lst.append(f'numcls_f{i}')

In [30]:
lst

['numcls_m1',
 'numcls_f1',
 'numcls_m2',
 'numcls_f2',
 'numcls_m3',
 'numcls_f3',
 'numcls_m4',
 'numcls_f4',
 'numcls_m5',
 'numcls_f5',
 'numcls_m6',
 'numcls_f6']

In [45]:
# 서울 각 학교 각 학년 학생 수 
num_total_student_seoul = seoul[lst]

In [46]:
# 서울 각 학교 각 학년 학생 수 
num_total_student_seoul

,numcls_m1,numcls_f1,numcls_m2,numcls_f2,numcls_m3,numcls_f3,numcls_m4,numcls_f4,numcls_m5,numcls_f5,numcls_m6,numcls_f6
18,96,94,94,76,88,65,85,92,100,64,71,69
22,60,49,49,48,50,51,39,47,58,62,57,57
23,37,23,38,28,45,20,39,25,49,35,32,23
27,28,25,19,30,38,30,24,26,37,41,31,26
42,42,46,40,41,30,33,26,23,31,46,30,32
46,76,65,51,64,53,58,45,55,50,56,54,46
54,57,58,73,52,54,57,74,59,58,77,59,61
56,41,51,60,41,54,63,54,46,57,56,66,55
73,147,155,163,151,146,143,141,156,156,146,158,147
75,64,48,59,53,56,43,52,44,42,41,50,41
82,50,49,60,45,44,39,47,37,66,65,54,57
89,16,19,22,23,17,24,29,23,25,23,19,16
95,97,96,91,83,97,83,82,94,85,88,90,58
125,104,88,125,103,90,78,99,114,132,114,84,81
155,31,29,28,21,38,38,29,15,34,31,33,30
162,46,42,27,37,26,40,44,31,33,38,34,26
172,93,82,80,116,100,84,82,94,78,86,83,84
175,35,40,30,43,37,25,54,33,44,48,52,39
180,64,64,53,66,57,56,59,45,69,70,51,77
182,34,47,45,43,59,36,52,45,53,56,60,53
183,41,36,50,55,52,41,46,38,74,53,69,52
187,39,30,42,47,27,39,45,44,53,40,51,51
196,19,24,16,19,22,16,19,21,21,28,27,21
200,43,46,35,38,39,42,44,27,38,37,41,54
212,62,55,59,70,64,68,61,68,68,70,71,50
215,30,31,41,39,31,32,52,44,46,44,52,42
220,29,27,22,22,25,26,24,23,25,35,25,18
230,30,22,33,22,24,26,17,21,22,17,30,19
234,44,23,31,34,40,29,36,35,58,36,57,37
261,55,61,51,53,51,63,59,58,56,55,57,58
287,54,60,63,63,74,67,86,83,92,63,107,86
288,71,49,77,68,54,58,67,72,77,62,70,64
295,15,15,16,15,16,10,13,12,18,10,9,14
299,60,61,60,72,60,62,46,61,59,63,56,57
309,86,64,78,72,54,78,86,71,88,74,97,77
319,63,48,64,70,68,56,83,80,81,75,88,60
330,46,46,61,73,72,55,48,51,77,62,60,58
331,71,68,85,72,84,57,81,72,88,71,60,67
332,80,80,79,74,65,82,72,83,76,74,67,65
342,34,40,32,30,36,23,25,37,41,46,42,32
355,48,39,33,36,37,33,32,38,44,35,36,42
380,63,54,72,66,61,59,58,79,66,72,59,66
404,52,45,51,40,48,47,46,50,40,42,36,57
409,84,77,83,69,63,83,104,66,89,69,71,94
414,29,28,28,23,28,28,29,30,24,32,30,25
418,72,54,48,69,55,46,53,55,61,69,48,63
421,72,70,59,61,80,66,74,78,73,65,63,61
422,52,59,53,56,53,48,70,56,62,57,66,63
451,59,79,58,48,65,64,76,69,63,67,61,61
453,88,94,88,81,83,77,82,79,94,118,83,98
490,67,57,60,59,59,61,48,42,43,40,25,41
506,16,20,15,12,14,15,18,15,8,16,28,22
524,101,97,102,99,116,89,109,95,88,105,90,91
526,19,18,17,15,12,17,21,17,14,21,11,13
527,14,11,15,6,8,13,16,14,13,16,16,21
583,111,98,112,114,110,103,121,100,103,109,106,98
588,64,56,74,73,58,50,58,52,68,78,59,55
591,47,60,48,37,47,45,47,61,63,67,50,58

In [47]:
# 서울 학교 각 학년 학생 수의 총합
num_sum_total_student_seoul = seoul[lst].sum()

In [50]:
# 서울 학교 각 학년 학생 수의 총합
num_sum_total_student_seoul

numcls_m1    3248.0
numcls_f1    3072.0
numcls_m2    3218.0
numcls_f2    3136.0
numcls_m3    3134.0
numcls_f3    2940.0
numcls_m4    3228.0
numcls_f4    3101.0
numcls_m5    3431.0
numcls_f5    3336.0
numcls_m6    3242.0
numcls_f6    3089.0
dtype: float64

In [51]:
# 서울 전체 학생 수 
num_sum_total_student_seoul.sum()

38175.0

In [55]:
# 서울 학교 평균 학생 수
num_sum_total_student_seoul_mean = num_sum_total_student_seoul.sum()/len(seoul)

In [90]:
num_total_student_seoul.sum(0)

numcls_m1    3248.0
numcls_f1    3072.0
numcls_m2    3218.0
numcls_f2    3136.0
numcls_m3    3134.0
numcls_f3    2940.0
numcls_m4    3228.0
numcls_f4    3101.0
numcls_m5    3431.0
numcls_f5    3336.0
numcls_m6    3242.0
numcls_f6    3089.0
dtype: float64

In [91]:
num_total_student_seoul.sum(0)/len(seoul)

numcls_m1    56.000000
numcls_f1    52.965517
numcls_m2    55.482759
numcls_f2    54.068966
numcls_m3    54.034483
numcls_f3    50.689655
numcls_m4    55.655172
numcls_f4    53.465517
numcls_m5    59.155172
numcls_f5    57.517241
numcls_m6    55.896552
numcls_f6    53.258621
dtype: float64

In [68]:
num_total_student_seoul.head()

,numcls_m1,numcls_f1,numcls_m2,numcls_f2,numcls_m3,numcls_f3,numcls_m4,numcls_f4,numcls_m5,numcls_f5,numcls_m6,numcls_f6
18,96,94,94,76,88,65,85,92,100,64,71,69
22,60,49,49,48,50,51,39,47,58,62,57,57
23,37,23,38,28,45,20,39,25,49,35,32,23
27,28,25,19,30,38,30,24,26,37,41,31,26
42,42,46,40,41,30,33,26,23,31,46,30,32

In [89]:
# sum(1)은 각 행에서 열들의 값
# sum(0)은 각 열의 행들의 값
num_total_student_seoul.sum(1).head()

18    994.0
22    627.0
23    394.0
27    355.0
42    420.0
dtype: float64

In [87]:
((num_total_student_seoul.sum(1) - num_sum_total_student_seoul_mean) ** 2).sum(0) / (len(seoul)-1)

98486.40199637023

In [83]:
num_total_student_seoul.sum(1).mean()

658.1896551724138

In [84]:
num_total_student_seoul.sum(1).var()

98486.40199637022

In [85]:
num_total_student_seoul.sum(1).std()

313.825432360684

In [4]:
a = 13
b = 23.487583934

In [5]:
print(a)

13

In [12]:
print('a는 {0:}이고 b는 {1:.2f}이다'.format(a, b))

a는 13이고 b는 23.49이다

In [ ]:
foo = pd.DataFrame([num_students])
foo.columns = ['1학년','2학년','3학년','4학년','5학년','6학년']
import matplotlib.pyplot as plt
foo_plot = foo.iloc[0].plot(kind='bar', ylim=(22, 25), rot = 0)
foo_plot.set_title('서울 지역 학년별 평균 학생 수')
plt.xlabel('학년')
plt.ylabel('학생수 = 명')
plt.text()